/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
body {
  font-family: National2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  transition: all 0.25s cubic-bezier(0.65, 0, 0.17, 0.98);
  background-color: #1e2633;
  background-size: 2020px;
  background-position: top;
  background-repeat: repeat-x;
  overflow: hidden;
}

h2 {
  color: #028b81;
  font-family: "Press Start 2P", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-canvas {
  background-color: rgba(173, 216, 230, 0.9);
  display: flex;
  width: 29vw;
  height: 29vw;
  border: 20px solid green;
  border-image: repeating-linear-gradient(
      45deg,
      #cc314d,
      #cc314d 20px,
      white 20px,
      white 40px
    )
    20;
}


@media (max-width: 580px) {
  .game-canvas {
    width: 75vw;
    height: 75vw;
  }
}

@media (min-width: 581px) and (max-width: 650px) {
  .game-canvas {
    width: 65vw;
    height: 65vw;
  }
}

@media (min-width: 651px) and (max-width: 755px) {
  .game-canvas {
    width: 57vw;
    height: 57vw;
  }
}

@media (min-width: 751px) and (max-width: 1024px) {
  .game-canvas {
    width: 42vw;
    height: 42vw;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .game-canvas {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .game-canvas {
    width: 45vw;
    height: 45vw;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .game-canvas {
    width: 42vw;
    height: 42vw;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 18px;
  }
}

@media (min-width: 581px) and (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vh;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: National2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}

.modal--footer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.score {
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.c-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.c-btn {
  @media (min-width: 1024px) {
    display: none;
  }
}

.btn {
  width: 60px;
  height: 60px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  cursor: pointer;
}



.btn {
  @media (max-width: 375px) {
    width: 45px;
    height: 45px;
  }
}

h1 {
  @media (max-width: 375px) {
    margin:0;
  }
}


.btn:hover {
  background-color: #e0e0e0;
}

.btn:active {
  background-color: #d0d0d0;
}

.btn--up {
  grid-column: 2;
  grid-row: 1;
}

.btn--right {
  grid-column: 3;
  grid-row: 2;
}

.btn--down {
  grid-column: 2;
  grid-row: 3;
}

.btn--left {
  grid-column: 1;
  grid-row: 2;
}

/* .btn--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc314d;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
} */

.btn--modal {
  font-size: 16px;
  width: 50%;
  height: 3rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--content {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #cc314d;
}

p {
  color: #006400;
  font-size: 1.2em;
  margin-top: 10px;
}

.modal--footer {
  margin-top: 20px;
}

.btn--primary {
  background-color: #cc314d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.actions--wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.arrow {
	background-repeat: no-repeat;
	background-size: contain;
	width: 60%;
    height: 60%;
}

.arrow-up {
	background-image: url('/icons/arrow-up.svg');
}

.arrow-down {
	background-image: url('/icons/arrow-down.svg');
}

.arrow-right {
	background-image: url('/icons/arrow-right.svg');
}

.arrow-left {
	background-image: url('/icons/arrow-left.svg');
}